#include <windows.h>
#include <wingdi.h>
#include <commctrl.h>
#include "resource.h"

IDB_TREEICON BITMAP "bitmap1.bmp"

IDR_MENU1 MENU
LANGUAGE LANG_JAPANESE, 0x1
BEGIN
	POPUP "File(&F)"
	BEGIN
		MENUITEM "Open Soundfont(&O)...", IDM_OPENSF2
		MENUITEM SEPARATOR
		MENUITEM "Export TiMidity config file(&C)...", IDM_SAVE_CFG
		MENUITEM "Export Preset List(&P)...", IDM_SAVE_PRESETLIST
		MENUITEM SEPARATOR
		MENUITEM "Quit(&Q)", IDM_QUIT
	END
	POPUP "Option(&O)"
	BEGIN
		MENUITEM "Append tone comments(&A)", IDM_OPT_APPEND_COMMENT
		MENUITEM "Append first spaces(&P)", IDM_OPT_APPEND_FSPACES
		MENUITEM SEPARATOR
		MENUITEM "Keep original full-path(&K)", IDM_OPT_KEEP_FULLPATH
	END
END

101 DIALOGEX 0, 0, 255, 195
STYLE WS_OVERLAPPEDWINDOW
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "Soundfont Viewer 1.01"
MENU IDR_MENU1
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic", FW_NORMAL, 0, 128
BEGIN
	CONTROL         "", IDC_TREE1, WC_TREEVIEW, WS_TABSTOP | WS_HSCROLL | WS_BORDER | TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT, 0, 0, 255, 182
	LTEXT           "Soundfont Path", IDC_EDSFLABEL, 0, 183, 56, 12, SS_LEFT
	EDITTEXT        IDC_EDSFNAME, 57, 183, 198, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
END

IDI_ICON1 ICON "icon1.ico"


